<h4 id="recommend" style="text-align:center;"><strong>Recommendations</strong><a class="header-link" href="#">Read all</a></h4>
<div class="row recommend-container">
  <div class="col-md-12">
      <p class="recommend">
	  Darshit is a hardworking and active participant. Moreover his self-discipline makes him more organized than others in completing a task in his group. Consequently, his group members find very good leadership quality in him. He has also got intellectual commitment and curiosity and I think these qualities drive him towards his goals.
      </p>
      <div class="referer">
        - Dharmik Patel, Software Engineer at Paramatrix Technologies Pvt. Ltd.
      </div>
  </div>
</div>
<hr>
