<h4 id="recommend" style="text-align:center;"><strong>Recommendations</strong><a class="header-link" href="#">Read all</a></h4>
<div class="row recommend-container">
  <div class="col-md-12">
      <p class="recommend">
        I can recommend Darshit as a person with great skills and deep wisdom of morden solutions. Darshit is an excellent, wise and
        great programmer. Responsible developer with good knowledge in front-end & backend as well.
      </p>
      <div class="referer">
        - Dharmik Patel, Software Engineer at Paramatrix Technologies Pvt. Ltd.
      </div>
  </div>
</div>
<hr>
