<div class="container">
      <div class="row padding-top25">
        <!-- Navigation -->
        <div class="col-md-10 offset-md-1">
            <div class="row">
              <div class="col-md-8">
                <ul class="list-inline">
                  <li>
                    <a href="#home">Home</a>|
                  </li>
                  <li>
                    <a href="#work">Work</a>|
                  </li>
                  <li>
                    <a href="#projects">Projects</a>|
                  </li>
                  <li>
                    <a href="#recommend">Recommendations</a>|
                  </li>
                  <li>
                    <a href="#contact">Contact</a>
                  </li>
                </ul>
              </div>
              <div class="col-md-4 text-right">
                <!--<a class=" red" href="#">Hire me</a>-->
              </div>
            </div>
        </div>
      </div>
      <div id="home" class="row">
        <div class="col-md-10 offset-md-1">
          <div class="row padding-top25">
            <div class="col-md-12 title">
              <h2>Hey, I'm <strong>Darshit Patoliya</strong>. A Full Stack Python/ Django Developer.</h2>
              <div class="text-center padding-top25">
                <a class="btn btn-primary" href="#"> Download Resume</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row work">
        <div class="col-md-10 offset-md-1">
          <hr>
          <app-work></app-work>
        </div>
      </div>
      <div class="row projects">
        <div class="col-md-10 offset-md-1">
          <hr>
          <app-project></app-project>
        </div>
      </div>
      <div class="row recommendation">
        <div class="col-md-10 offset-md-1">
          <hr>
          <app-recommendation></app-recommendation>
        </div>
      </div>
</div>

<div class="container">
  <div class="row project hidden-print">
    <div class="col-md-10 offset-md-1">
      <div class="row">
        <div class="col-xs-12 col-md-7">
          <ul class="list-inline list-unstyled">
            <li><a target="_top" href="mailto:darshit7@gmail.com?Subject=Portal">Email</a>&nbsp;•</li>
            <li><a target="_blank" href="#">Facebook</a>&nbsp;•</li>
            <li><a target="_blank" href="#">LinkedIn</a>&nbsp;•</li>
            <li><a target="_blank" href="https://github.com/darshit7">GitHub</a>&nbsp;•</li>
            <li><a target="_blank" href="https://stackoverflow.com/users/5575585/darshit">Stack Overflow</a>&nbsp;</li>
          </ul>
        </div>
        <div class="col-xs-12 col-md-5 text-right">
          <ul class="list-inline list-unstyled">
            <li>&nbsp;Platform - <a href="/roadmap.html">v1.1</a> &nbsp;</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
