<h4 id="work" style="text-align:center;"><strong>Work</strong></h4>
<ul class="timeline">
  <!-- Item 1 -->
  <li>
    <div class="direction-l">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="flag">
          <a class="black" href="http://www.paramatrix.com" target="_blank">Paramatrix Technologies Pvt. Ltd.</a>
        </span>
        <div class="designation-wrapper">Software Enginner</div>
        <span class="time-wrapper"><span class="time">July 2017 - Present</span></span>
      </div>
    </div>
  </li>

  <!-- Item 2 -->
  <li>
    <div class="direction-r">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="flag">
          <a class="black" href="http://www.paramatrix.com" target="_blank">Paramatrix Technologies Pvt. Ltd.</a>
        </span>
        <div class="designation-wrapper">Associate Software Engineer</div>
        <span class="time-wrapper"><span class="time">Jan 2016 - July 2017</span></span>
      </div>
    </div>
  </li>

  <!-- Item 3 -->
  <li>
    <div class="direction-l">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="flag">
          <a class="black" href="http://www.paramatrix.com" target="_blank">Paramatrix Technologies Pvt. Ltd.</a>
        </span>
        <div class="designation-wrapper">Trinee Software Engineer</div>
        <span class="time-wrapper"><span class="time">July 2015 - Jan 2016</span></span>
      </div>
    </div>
  </li>
</ul>
