<h4 id="projects" style="text-align:center;"><strong>Projects</strong></h4>
<div class="row">
  <div class="col-md-4">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">DROANA</h5>
        <p class="card-subtitle mb-2 text-muted"><strong>Role:</strong> Programmer</p>
        <p class="card-text">
          DROANA is an online platform that serves as the infrastructure to implement virtual classrooms.
        </p>
        <a href="#" class="card-link black">Github</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">MSS</h5>
        <p class="card-subtitle mb-2 text-muted"><strong>Role:</strong> Programmer</p>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="card-link black">Github</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Complykaro</h5>
        <p class="card-subtitle mb-2 text-muted"><strong>Role:</strong> Programmer</p>
        <p class="card-text">
          Complykaro will help organizations in complying with various regulations and laws applicable to them.
        </p>
        <a href="#" class="card-link black">Github</a>
      </div>
    </div>
  </div>
</div>
